:root {
  --blue: #76bce3;
  --brown: #852d17;
  --orange: #f0552e;
  --lightOrange: #f2785a;
  --yellow: #ffa800;
  --white: #ffffff;
  --lightGray: #ebebeb;
  --midGray: #999999;
  --darkGray: #4f4e4e;
  --black: #1a1a1a;
}
